<div class="comment-card shadow-lg">
  <div class="comment-info">
    <div class="comment-user-icon">
      <i class="fa fa-user fa-lg text-primary"></i>
    </div>
    <div class="comment-details">
      <h6 class="fw-bold">{{ comment.user.name }}</h6>
      <p class="text-muted">{{ comment.commentDate }}</p>
    </div>
  </div>
  <div class="comment-content">
    <p class="comment-description">{{ comment.description }}</p>
    <button *ngIf="role === 'ADMIN' || role === 'EMPLOYEE'" (click)="deleteCommentPressed(comment.commentId)" class="btn btn-danger">
      <i class="fa fa-trash"></i> Delete
    </button>
  </div>
</div>

