<div class="card shadow-lg p-3 m-3 custom-card">
  <div class="d-flex align-items-center">
    <img src="assets/standup_image.jpg" alt="Stand-up Show" class="standup-image">
    <div class="details ms-3">
      <h5 class="fw-bold mb-1">{{ show.name }}</h5>
      <p class="fw-light text-muted mb-0">Event Date: {{ show.eventDate }}</p>
    </div>
  </div>
  <div>
    <button (click)="viewDetails(show.showId)" class="btn btn-primary me-2">
      <i class="fa fa-search"></i> Details
    </button>
    <button *ngIf="role === 'EMPLOYEE'" (click)="deleteShowPressed(show.showId)" class="btn btn-danger">
      <i class="fa fa-trash"></i>
    </button>
    <button *ngIf="role === 'EMPLOYEE'" (click)="updateShowPressed(show.showId)" class="btn btn-edit">
      <i class="fa fa-pencil"></i>
    </button>
  </div>
</div>
